<!DOCTYPE html>
<html>
<head>
  <title>ProductFood</title>
  <%= stylesheet_link_tag    "product_food/application", :media => "all" %>
  <%= javascript_include_tag "product_food/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
